.caption {
    padding-top: 10px;
    font-weight: bold;
}

.caption-line {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.description {
    margin-left: 20px;
    max-width: 460px;
    width: 100%;
    white-space: pre-wrap;
}

.homework-card {
    width: 100%;
    max-width: 510px;
}

.fill-remaining-space {
    flex: 1 1 auto;
}

